<% data.home.articles.each do |article| %>
<section class="const-article">
    <p class="const-article__subheader">
        <span class="const-article__article"><%= article.article %></span>  /  <span class="const-article__section"><%= article.section %></span>
    </p>

    <p class="const-article__title"><%= article.title %></p>

    <div class="const-article__text">
        <p class="const-article__original-text"><%= article.original %></p>

        <div class="const-article__simple-text">
            <p><%= article.simple %></p>
        </div>
    </div>

</section>

<% end %>