<% page_articles.each_with_index do |article, i| %>
  <h2><%= article.title %></h2>
  Article: <%= article.data.article_num %>
  Section: <%= article.data.section_num %>
  <%= article.data.original_text %>
  <hr />
  <%= article.body %>
<% end %>