<% page_articles.reverse.each_with_index do |article, i| %>
<section class="const-article">
    <p class="const-article__subheader">
        <span class="const-article__article"><%= article.data.article_num %></span> / <span class="const-article__section"><%= article.data.section_num %></span>
    </p>

    <p class="const-article__title"><%= article.title %></p>

    <div class="const-article__text">
        <div class="const-article__original-text"><p class="readmore"><%= article.data.original_text %></p></div>

        <div class="const-article__simple-text">
            <p><%= article.body %></p>
        </div>
    </div>

</section>
<% end %>